body {
    background-color: #696969;
    font-family: Antonia Variable;
    line-height: 1;
}


.title {
    margin: 0px;
    padding: 0px;
    width: 1289px;

}

.title li {
    float: left;
    display: inline-block;
}

.title li a {
    float: left;
    font-family: Antonio;
    font-size: 22px;
    color: #696969;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    background: #DC143C;
    padding-left: 12px;
    padding-right: 15px;
    margin-top: 15px;
    border-right: 1px dotted #FFFFFF;
}

.text {
    color: #DC143C;
    font-size: 40px;
    background-color: #696969
}

.info {
color: #DC143C;
}
